
#postImage{
    
   max-width: 100%;
   
    
}

.postCredits{
    margin-left: 20px;
    display: flex;
    height: 45px;
   padding-top: 10px;

    
}
#postCredits_names{
    margin-left: 5px;
    margin-top: 5px;
    margin-bottom: 2px;
}
#postCredits_date{
    margin-left: 5px;
    margin-top: 3px;
    color: grey;
    font-weight: 100;
}
.postTagsClass{
    margin-left: 30px;
    display: flex;
    gap: 20px;
    
  
}
#postTag{
    color: grey;
    font-weight: 500;
    margin-top: 5px;
    border: 1px solid;
    border-color: rgb(255, 255, 255);
}
#postTag:hover{
    background-color: rgb(243, 243, 243);
    border: 1px solid;
    border-color: rgb(174, 169, 169);
    border-radius: 5px;
    
    
  
}

#postTitle{
    margin-left: 20px;
    font-size: 35px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-right: 10px;
}
#postTitle:hover{
color: var(--secondColor);
}

.postReactionsContainerClass{
    display: flex;
    margin-left: 30px;
    gap: 30px;
    opacity: 0.9;
   
}

#postReactionIcon{
    height: 25px;
    width: 25px;
}
#postReactionIcon:hover{
    scale: 1.15;
    
}

.postReactionClass{
    
    display: flex;
    gap: 5px;
    
}
.postReactionClass > h4{
    
   margin-top: 3px;
   font-weight: 400;
  
    
}
.postReactionClass:nth-last-of-type(1){
    
   margin-left: auto;
   margin-right:20px ;

    
}
#postImage{
    border-top-left-radius: var(--borderRadius);
    border-top-right-radius: var(--borderRadius);;
}